<div class="section">
<br>
	<div class="container">
		<div class="row" id="loadList">
			<div class="col s12 m6 l3 purple darken-3 card" style="margin-right: 5px">
				<form action="/users/new/list/<%= uid %>" id="newListForm" method="post">
					<div class="row">
						<!-- creating new list -->
						<div class="input-field col s12" style="color: white">
						  <input id="icon_prefix" type="text" class="validate" name="name" required />
						  <label for="icon_prefix" style="color: white">List Name</label>
						</div>
						<div class="input-field col s12">
							<button type="submit" id="newListName" class="waves-effect waves-light btn purple darken-2 right">Add It<i class="material-icons right">add</i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<br>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <form action=""  id="newCardForm" method="post" >
<!--	  enctype="multipart/form-data" -->
	<div class="modal-content">
		<h4 style="text-align: center;color: #ab47bc">New Card Details<i class="modal-close material-icons right">close</i></h4>
		<div class="container"><div class="divider"></div></div>
		  <div class="row">
			<div class="input-field col s12">
			  <textarea id="textarea1" name="desc" required class="materialize-textarea"></textarea>
			  <label for="textarea1">Description</label>
			</div>
		  </div>
			<!-- <div class="row">
			<div class="file-field input-field col s12">  
			<div class="btn purple lighten-1 right">
				<span>File</span>
				<input type="file" name="img" accept="image/*" >
			  </div>
			  <div class="file-path-wrapper">
				<input class="file-path validate disabled" placeholder="File Name" type="text">
			  </div>
			</div>
		</div> -->
			<div class="row">
			<div class="input-field col s12" style="width:100%">
			  <input type="text" class="datepicker" name="date" />
			  <label for="textarea1">Due Date</label>
			</div>
		  </div>
		<br>
		<div class="divider"></div>
		</div>
	<div class="modal-footer">
	  <button class="btn waves-effect waves-light purple lighten-1" style="margin: 5px 5px" type="submit" >Create
		<i class="material-icons right">create</i>
	  </button>
	</div>
  </form>
</div>
<script>
	let listIdG, elems, instance, form;
	
	function internetError(){
		M.toast({
			html: `<div class="row">
					<div class="col s6">
						Something happening wrong 
						<br> 
						Check your internet connection
						</div> 
					<div class="col s6">
						<i class="material-icons right" style="color:red">
							cancel
						</i>
					</div>
				</div>`, 
			displayLength: 10000
		});
	}

	function addCard(uid, listId, date, desc){
		let time = new Date();
		$(`div#${listId}`).append(`<div id="${uid}" class="z-depth-1" style="text-align:center;padding: 15px 0;margin-bottom:5px;">
			<p>${desc}</p>
			<span>${ (date != null) ? (("<br><b>Due Date </b>")+ time.toDateString(date)): ""}</span>
			<br>
			<button onclick="archiveCard('${uid}', '${listId}')" style="margin-top: 5px" class="waves-effect waves-light btn purple darken-3 center">
				Archive
				<i class="material-icons right">
					archive
				</i>
			</button>
			</div>`);
	}

	function cardLoader(listId){
		let temp = '', time = new Date();
		$.get(`/users/cards/<%= uid %>/${listId}`).done((resp)=>{
			//$(`div#${listId}`).empty();
			resp.data.forEach((i)=>{
				(!i.archive) ? addCard(i.uid, listId, i.dueDate, i.desc)  : null;
				//temp += (!i.archive) ? : '';
			});
			//$(`div#${listId}`).append(temp);
		}).fail(internetError);
	}
	
	function newList(name, uid){
		//adding element to the page
		$("#loadList").append(`<div class="col s12 m6 l3 purple darken-3 card" style="margin-right: 5px;color:white;padding-bottom:5px">
			<h4 class="card-title" style="text-align:center">${name}</h4>
			<div class="divider" style="color:grey"></div>
			
			<div class="card-content purple darken-4" id="${uid}"></div>
			
			<button onclick="addNewCard('${uid}')" class="waves-effect waves-light btn purple darken-2 right" style="margin: 5px">
				Add Card
				<i class="material-icons right">
					add
				</i>
			</button>
			</div>`);
	}

	function listLoader() {
		let temp = '';
		$.get("/users/board/lists/cards/<%= uid %>").done((data)=>{
				data.data.forEach((i)=>{
					//loading list
					newList(name, uid);
			
					//loading cards
					cardLoader(i.uid);	
				});
		}).fail(internetError);
	}
	
	function addNewCard(listId){
		elems = document.getElementById('modal1');
    	instance = M.Modal.init(elems);
		instance.open();
		listIdG = listId;
	}
		
	function archiveCard(uid, listId){
		$.get(`/users/card/archive/${uid}`).done((res)=>{
			console.log(res);
			$(`div#${uid}`).remove();
		}).fail(internetError);
	}
	
	$(document).ready(function(){
		listLoader();
		
		//new member addition
		$("#newMemberForm").submit((event)=>{
			$("#addMemberBtn").addClass("disabled");
			event.preventDefault();
			
			form = $(this);
			let email = form.find("input[name='email']").val();
			elems = document.getElementById('addMember');
			instance = M.Modal.init(elems);
			instance.close();
			
			$.post("/users/team/add/member/<%= uid %>", { email }).done((resp)=>{
				   console.log(resp);
					if (resp.msg == "NOT OK"){
						M.toast({html: 'User Not Exist <i class="material-icons right" style="color:red">cancel</i>', displayLength: 10000});
					}else{
						M.toast({html: 'User Added Successfully <i class="material-icons right" style="color:green">check_circle</i>', displayLength: 10000});
					}	   
			}).fail(internetError);
			form.find("input[name='email']").val(null);
			$("#addMemberBtn").addClass("disabled");
		});
		
		//adding new card
		$("#newCardForm").submit((event)=>{
			event.preventDefault();
			
			form = $(this);
			let desc = form.find("textarea[name='desc']").val();
			let time = form.find("input[name='date']").val();
			
			time = (time != "") ? (new Date(time)):null;
			
			elems = document.getElementById('modal1');
			instance = M.Modal.init(elems);
			instance.close();
			
			//let img = $('#img')[0].files[0];
			
			$.post(`/users/new/card/<%= uid %>/${listIdG}`, { desc, time }).done((resp)=>{
				addCard(resp.data.uid, listIdG, time, desc);
				//M.toast({html: resp.data.uid, displayLength: 15000});
				//console.log(resp);
			}).fail(internetError);
		});
		
		//creating new list
		$("#newListForm").submit((event)=>{
			//not noramlly submission of form
			event.preventDefault();
			
			let $form = $(this); name = $form.find("input[name='name']").val();
			
			$form.find("input[name='name']").val(null);
			
			$.post("/users/new/list/<%= uid %>", { name }).done((data)=>{
				M.toast({ 
					html: 'New list creted successfully <i class="material-icons right" style="color:green">check_circle</i>', 
					displayLength: 5000 });
					
				//listLoader();
			}).fail(internetError);
	  });
	});
</script>
<% include ./partial/ifooter.ejs %>